<div class="col-md-8">
    <div class="panel">
      <div class="panel-heading">
        <div class="col-xs-12 col-sm-6">
          <h3 class="pull-left">{{ names }}'s Orders</h3>
        </div>
        <div class="col-xs-12 col-sm-3">
          <input class="form-control input-sm" type="number" step="1" min="0" ng-model="rowLimit" placeholder="Rows to display" style="margin-top:18px;" />
        </div>
        <div class="col-xs-12 col-sm-3">
          <input type="text" class="form-control input-sm" id="search" placeholder="Search orders..." ng-model="query" style="margin-top:18px;"  />
        </div>
      </div>

      <div class="panel-body">
          <div class="responsive-table">
              <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th ng-click="sortData('item')">Item <div class="pull-right" ng-class="getSortClass('item')"></div></th>
                      <th ng-click="sortData('price')">Price <div class="pull-right" ng-class="getSortClass('price')"></div></th>
                      <th ng-click="sortData('quantity')">Quantity <div class="pull-right" ng-class="getSortClass('quantity')"></div></th>
                      <th ng-click="sortData('total')">Total <div class="pull-right" ng-class="getSortClass('total')"></div></th><!-- 0-Warehouse 1-En Route 2-Delivered -->
                      <th ng-click="sortData('thedate')">Created On <div class="pull-right" ng-class="getSortClass('thedate')"></div></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="order in orders | limitTo: rowLimit | filter:query | orderBy:sortColumn:reverseSort">
                      <td>{{ order.item }}</td>
                      <td>{{ order.price | currency:"KES " }}</td>
                      <td>{{ order.quantity | number}}</td>
                      <td>{{ order.price * order.quantity | currency:"KES " }}</td>
                      <td>{{ order.thedate | date:"MM-dd-yyyy h:mm" }}</td>
                    </tr>
                  </tbody>

                  <tfoot>
                    <tr>
                      <th>Item</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>State</th><!-- 0-Warehouse 1-En Route 2-Delivered -->
                      <th>Created On</th>
                    </tr>
                  </tfoot>
              </table>
          </div>
        </div>
    </div>
</div>
